# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.tox/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Pytest & Coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Type Checking (mypy)
.mypy_cache/
.dmypy.json
dmypy.json

# Environment Variables 
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/

# Logs
*.log

# Operating System Files
# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints
