# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Pytest cache
.pytest_cache/
coverage.xml
htmlcov/

# Windows system files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# VSCode
.vscode/

# PyCharm
.idea/

# Logs
*.log
